*{
  box-sizing: border-box;
}
.h-peserta{ 
  background:url('../img/bg.jpg');
  width: 100%;
  color: white;
  padding: 10px;
  text-align: center;
  background-position: bottom left;
  background-size: cover;
}

form{
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
}
.border-on{
  border: 1px solid black;

}
.padding-tb-30{
  padding: 30px 0;
}
label.col-form-label-sm.radio{
  margin-top:-1px;
  margin-bottom:-1px;
}
.padding-l-20{
  padding-left: 30px;
}
em{
  font-weight: bold;
}
tr.row{
  margin: auto;
}
.required-label:before{
  content: "* ";
  color: red;
}
.btn-login{
  background-color: #0312BB;
  color: white;
  display: block;
  border-radius: 30px;
  width: 125px;
  /*padding: 5px auto 10px auto;*/
  margin-left: auto;
  margin-right: auto;
}
.btn-login:hover{
  background-color: #2d369e;
  color: rgba(255, 255, 255, 0.87);
  position: relative;
}

/* input#tgl_lahir:invalid + span.validity:after {
  content: '✖';
  position: relative;
  top: 3px;
  left: 5px;
}

input#tgl_lahir:valid + span.validity:after {
  content: '✓';
  position: relative;
  top: 3px;
  left: 5px;
} */

.txt-format{
  position: relative;
  top: 1px;
  left: 5px;
}
.none{
  display:none;
}
.margin-off{
  margin:0px;
}
.nav-item.nav-link{
  font-size:15px;
}
.padding-data{
  padding:25px;
}
.margin-b-20{
  margin-bottom: 20px;
}
.margin-t-10{
  margin-top: 10px;
}
.table-border-saudara{
  border: 1px solid #58595a;
}
.btn-edit-done{
  width:25%; 
  margin-left:auto; 
  margin-right:auto; 
  color:white;
}
.ul-custom{
  position: relative;
  display: block;
  width : 80%;
  margin-left: auto;
  margin-right: auto;
}
.ul-custom>li>img{
  border-radius: 50%;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  display: block;
}
.ul-custom>li>a{
  display:block;
  color: white;
  text-align: center;
}
.ul-custom>li>a:hover{
  color: #999999;
  text-decoration: none;
}
.btn-expand-custom{
  width: 100vw;
  display: block;
  background-color: #844388;
}
.toogler-icon-custom{
  margin:5px auto;
  display: block;
  width:50px !important;
  height:30px !important;
  background-image: url(../img/toogler.png);
  background-size : 37px 25px;
  background-repeat: no-repeat;

}
.navbar-custom{
  width:100%;
  background: url('../img/bg-admin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  border-radius:10%;
  position:relative;
}
.shadowing{
  box-shadow:  5px 0 7px 0 rgba(0, 0, 0, 0.3);

}
.toogler-icon-custom{
  margin:5px auto;
  display: block;
  width:50px !important;
  height:30px !important;
  background-image: url(../img/toogler.png);
  background-size : 37px 25px;
  background-repeat: no-repeat;
}
.logo-header{
  width: 50px; 
  
}
/*.clearfix{
  overflow: auto;
}*/
.copyright-header{
  font-size: 15px;
}
.bg-login{
  background:url('../img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.containerLogin{
  /*border:1px solid black;*/
  position: relative;
  top: 48%;
  transform: perspective(1px) translateY(-52%);
  width:600px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 37px;
  font-size: 10px;
}
.btnRegisterWrapper{
  width: 270px;
  /*border: 1px solid black;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 10px;
  height: 35px;
}
@media only screen and (min-width: 1400px) {
  .containerLogin{
    /*border:1px solid black;*/
    position: relative;
    top: 48%;
    transform: perspective(1px) translateY(-52%);
    width:750px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 37px;
    font-size: 13px;
  }
  .btnRegisterWrapper{
  width: 300px;
  /*border: 1px solid black;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 35px;
}
}
section.login{
  position: relative;
  width: 60%;
  margin-left: 0px;
  height: 100%;
  padding-top: 35px;
  color: #8d8b8b;
}
section.register{
  position: relative;
  width: 60%;
  margin-left: 0px;
  height: 100%;
  padding-top: 15px;
  color: #8d8b8b;
}
.containerLoginIcon{
  /*border: 1px solid black;*/
  width:40%;
  height: 100%;
  position: relative;
  float: left;
  border-radius: 37px 0 0 37px;
  background: url('../img/bg-admin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left:-2px;
}
.imgLoginLogo{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  top:50%;
  transform: perspective(1px) translateY(-50%);
  position: relative;
  display: block;
}

.login-text{
  width: 75%;
  text-align: center;
}

.iconLogin{
  width: 5%;
  float: left;
  display: inline-block;
}

.linkRegister{
  color: #6a467b;
}

.linkRegister:hover{
  color: #321a3e;
}

.input-group-text{
  width: 35px;
}

.loginTitle{
  margin-top: 20px;
  text-align: center;
  color: #6a467b;
}
section>section.bg-light{
  width: 100%;
  margin-left: 0;
}
@media only screen and (min-width: 600px) {
  .f-right{
    float : right;
  }
  .f-left{
    float : left;
  }
}

@media only screen and (max-width: 600px) {
  
  .containerLogin{
    /*border:1px solid black;*/
    position: relative;
    top: 48%;
    transform: perspective(1px) translateY(-52%);
    width:350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 37px;
    font-size: 10px;
  }
  h3 {
    font-size: 15px;
  }
  .btn-login{
    background-color: #0312BB;
    color: white;
    display: block;
    border-radius: 30px;
    width: 80px;
    /*padding: 5px auto 10px auto;*/
    margin-left: auto;
    margin-right: auto;
  }

  .btnRegisterWrapper {
    width: 100%;
  }

}