/*body.bodyKeuangan{
    background-color: #FFFCDD!important;
}*/
.keuangan {
    background-color: #F6921E !important;
}
ul>li>a.keuangan:hover {
    background-color: #404041 !important;
}
.keuangan-dark {
    background-color: #404041 !important;
}
.sidebar.keuangan-overlay::before {
    background-image: url('img/New/sbKeuangan.png');
}
.nav-list.keuangan > li.active > a, .nav-list.keuangan > li.active > a:hover, .nav-list.keuangan > li.active > a:focus, .nav-list.keuangan > li.active > a:active{
    background-color: #404041 !important;
}
.nav-list.keuangan>li>a:focus,.nav-list.keuangan>li>a:hover {
    background-color: #404041 !important;
}
.nav-list.keuangan>li.open>a,.nav-list.keuangan>li.open>a:hover{
    background-color: #404041 !important;

}
.nav-list.keuangan > li .submenu > li > a:hover {
    background-color: #404041 !important;
    color: white;
}
.table-header.keuangan{
    background-color: #F6921E !important;
}


.dosen {
    background: #2a3890 !important;
}
ul>li>a.dosen:hover {
    background: #404041 !important;
}
.dosen-dark {
    background: #404041 !important;
}
.sidebar.dosen-overlay:before {
    background-image: url('img/New/sbDosen.png');
}
.nav-list.dosen > li.active > a, .nav-list.dosen > li.active > a:hover, .nav-list.dosen > li.active > a:focus, .nav-list.dosen > li.active > a:active{
    background-color: #404041 !important;
}
.nav-list.dosen>li>a:focus,.nav-list.dosen>li>a:hover {
    background-color: #404041 !important;
}
.nav-list.dosen>li.open>a,.nav-list.dosen>li.open>a:hover{
    background-color: #404041 !important;

}
.nav-list.dosen > li .submenu > li > a:hover {
    background-color: #404041 !important;
    color: white;
}
/*.table-header.dosen{
    background-color: #2a3890 !important;
}*/


.mhs-teo {
    background: #D92430 !important;
}
ul>li>a.mhs-teo:hover {
    background: #404041 !important;
}
.mhs-teo-dark {
    background: #404041 !important;
}
.sidebar.mhs-teo-overlay:before {
    background-image: url('img/New/sbTeo.png');
}
.nav-list.mhs-teo > li.active > a, .nav-list.mhs-teo > li.active > a:hover, .nav-list.mhs-teo > li.active > a:focus, .nav-list.mhs-teo > li.active > a:active{
    background-color: #404041 !important;
}
.nav-list.mhs-teo>li>a:focus,.nav-list.mhs-teo>li>a:hover {
    background-color: #404041 !important;
}
.nav-list.mhs-teo>li.open>a,.nav-list.mhs-teo>li.open>a:hover{
    background-color: #404041 !important;

}
.nav-list.mhs-teo > li .submenu > li > a:hover {
    background-color: #404041 !important;
    color: white;
}


.mhs-pak {
    background: #577921 !important;
}
ul>li>a.mhs-pak:hover {
    background: #404041 !important;
}

.mhs-pak-dark {
    background: #404041 !important;
}
.sidebar.mhs-pak-overlay:before {
    background-image: url('img/New/sbPak1.png');
}
.nav-list.mhs-pak > li.active > a, .nav-list.mhs-pak > li.active > a:hover, .nav-list.mhs-pak > li.active > a:focus, .nav-list.mhs-pak > li.active > a:active{
    background-color: #404041 !important;
}
.nav-list.mhs-pak>li>a:focus,.nav-list.mhs-pak>li>a:hover {
    background-color: #404041 !important;
}
.nav-list.mhs-pak>li.open>a,.nav-list.mhs-pak>li.open>a:hover{
    background-color: #404041 !important;

}
.nav-list.mhs-pak > li .submenu > li > a:hover {
    background-color: #404041 !important;
    color: white;
}


.table-overflow{
    overflow-y: auto; 
    width: 100%; 
}